@font-face {
  font-family: hurmeLight;
  src: url(../fonts/HurmeGeometricSans3\ Light.otf);
}
@font-face {
  font-family: hurmeSemiBold;
  src: url(../fonts/HurmeGeometricSans3\ SemiBold.otf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141515;

}
.navbar {
  background-color: #de7bbc !important;
}
.img-logo {
  width: 30%;
}
@media (min-width: 992px) {
  .navbar-brand{
      padding-left: 100px;
  }
  .left-nav {
      padding-right: 100px;
  }
  .img-logo {
      width: 70%;
  }
}
.nav-item{
  font-family: hurmeSemiBold;
  font-size: 20px;
}
.navbar li a:hover, .navbar-nav li.active a {
color: white;
}
.masthead {
  min-height: 70vh;
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
  background-position: left; 
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url(../img/header-photo.png);
  background-color: #141515;
}
.masthead .masthead-heading {
  font-size: 5rem;
  line-height: 3rem;
  font-family: hurmeLight;
}
.masthead .masthead-subheading {
  font-size: 2.1rem;
  font-family: h;
}
@media (min-width: 992px) {
  .masthead {
    min-height: 100vh;
    padding-top: calc(6rem + 400px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 8rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
  padding-top: 40px;
    font-size: 3rem;
  }
} 
.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.header-logo{
  width: 45%;
}
.page-section {
  min-height: 50vh;
}
.page-section-heading {
font-size: 3rem;
line-height: 2rem;
font-family: hurmeSemiBold;
color: white !important;
padding-top: 2rem;
padding-bottom: 4rem;
}
@media (min-width: 992px) {
  .page-section{
      min-height: 60vh;
  }
 .page-section-heading {
  font-size: 3.5rem;
  line-height: 2.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contact-section-heading  {
    font-size: 4rem;
    line-height: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
}
.img-main{
  width: 80%;
  border: 6px solid #de7bbc;
  border-radius: 10px;
}
.p-class {
  font-family: 'Times New Roman', Times, serif;
  font-size:1rem;
  font-style: italic;
  font-smooth: auto;
  color: white;
}
@media (min-width: 992px) {
  .p-class {
    font-size: 1.2rem;
  }
}
.offer-text{
  font-family: hurmeSemiBold;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  line-height: normal;
}
.offer-element {
  margin-bottom: 50px;
}
.offer-element .offer-text-hidden-default{
  color: white;
}
@media (min-width: 992px) {
  .offer-text{
      margin: auto;
      
      font-size: 1.5rem;
      font-weight: 700;
      line-height: normal;
  }
  .offer-element {
   margin-bottom: 5rem;
  }
}
 .offer-container{
  border: 5px solid white;
  width: auto;
  height: 150px;
  padding: 50px;
} 
.gallery-img {
  width: 100%;
  height: auto;
  border: 10px solid white;
  border-radius: 10px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}