@font-face {
  font-family: hurmeLight;
  src: url(../fonts/HurmeGeometricSans3\ Light.otf);
}
@font-face {
  font-family: hurmeSemiBold;
  src: url(../fonts/HurmeGeometricSans3\ SemiBold.otf);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #141515;

}
.navbar {
  background-color: #de7bbc !important;
}
.img-logo {
  width: 30%;
}
@media (min-width: 992px) {
  .navbar-brand{
      padding-left: 100px;
  }
  .left-nav {
      padding-right: 100px;
  }
  .img-logo {
      width: 60%;
  }
}
.nav-item{
  font-family: hurmeSemiBold;
  font-size: 20px;
}
.navbar li a:hover, .navbar-nav li.active a {
color: white;
}
.header-logo {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
}
@media (max-width: 991px) {
  .masthead {
    background-image: url(../img/small-header.jpg);
  }
  .header-logo{
    display: block;
  }
}
.masthead {
  min-height: 70vh;
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  
  background-color: #141515;
}
.masthead .masthead-heading {
  font-size: 5rem;
  line-height: 3rem;
  font-family: hurmeLight;
}
.masthead .masthead-subheading {
  font-size: 2.1rem;
  font-family: h;
}

@media (min-width: 992px) {
  .masthead {
    min-height: 100vh;
    padding-top: calc(6rem + 400px);
    padding-bottom: 6rem;
    background-image: url(../img/bg-img2.png);
  }
  .masthead .masthead-heading {
    font-size: 8rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
  padding-top: 40px;
    font-size: 3rem;
  }
} 
.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.page-section {
  min-height: 50vh;
}
.page-section-heading {
font-size: 3rem;
line-height: 2rem;
font-family: hurmeSemiBold;
color: white !important;
padding-top: 2rem;
padding-bottom: 4rem;
}
@media (min-width: 992px) {
  .page-section{
      min-height: 60vh;
  }
 .page-section-heading {
  font-size: 3.5rem;
  line-height: 2.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.contact-section-heading  {
    font-size: 4rem;
    line-height: 2.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
}
.img-main{
  width: 80%;
  border: 6px solid #de7bbc;
  border-radius: 10px;
}
.p-class {
  font-family: 'Times New Roman', Times, serif;
  font-size:1rem;
  font-style: italic;
  font-smooth: auto;
  color: white;
}
@media (min-width: 992px) {
  .p-class {
    font-size: 1.2rem;
  }
}
.offer-text{
  font-family: hurmeSemiBold;
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
  line-height: normal;
}
.offer-element {
  margin-bottom: 50px;
}
.offer-element .offer-text-hidden-default{
  color: white;
}
@media (min-width: 992px) {
  .offer-text{
      margin: auto;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: normal;
  }
  .offer-element {
   margin-bottom: 5rem;
  }
}
 .offer-container{
  border: 5px solid white;
  width: auto;
  height: 150px;
  padding: 50px;
  
} 
.offer-extend {
  border: 5px solid white;
  width: auto;
  height: 150px;
  padding: 20px;
}
@media (min-width: 400px){
  .offer-container{
    padding: 40px;
  }
}
.carousel-container {
  text-align: center;
}
.gallery-img {
  width: 70%;
  height: auto;
  border: 5px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.carousel-btn{
  font-size: 20px;
  width: 100px;
 margin-bottom: 10px;
 background: none;
 color: white;
 border: none;
}
.contact-section {
  background-color: #393939;
  margin-top: 100px;
}
.contact-logo {
  width: 80%;
}
.contact-info{
  font-size: 30px;
  font-family: hurmeLight;
  color: white;
}
.contact-icon {
  color: #de7bbc;
  font-size: 50px !important;
}
.contact-line{
  width: 300px;
  background-color: white;
  margin-top: 0px;
}
.p-pink{
  color: #de7bbc;
}
.p-contact {
  margin-bottom: 0px;
}
.contact-text-icon {
  margin-right: 0px;

}
.p-with-icon {
  margin-right: 0px;
  margin-left: 10px;
}
.phone-icon{
  position: relative;
}
.contact-link {
  text-decoration: none;
}
.contact-link:hover{
  text-decoration: none;
}
.pink-link{
 color: #de7bbc;
}
.pink-link:hover{
  color: #9e5886;
}
.white-link {
  color: white;
  font-size: 60px;
}
.white-link:hover {
  color: #bcbcbc;
}
.footer-icon {
  font-size: 2rem !important;
  color: white;
  padding-left: 0.5rem;
}
.footer-icon:hover{
  color: #bcbcbc;
  text-decoration: none;
}
.contact-info {
  text-align: center;
}
.contact-logo-container{
  text-align: center;
  padding-bottom: 1rem;
}
@media (min-width: 992px){
  .contact-info {
    text-align: right!important;
  }
  .contact-line {
    margin-right: 0px;
  }
  .contact-marker{
    margin-left: 0px;
    margin-right: 100px;
  }
  .contact-logo-container{
    text-align: left !important;
  }
}
